div.App {
  width: 100vw;
}

.App {
  text-align: center;
}

.App .side-effects {
  text-align: left
}

.button.compliance {
  background-color: orange;
}

.button.compliance.disabled {
  background-color: rgb(196, 99, 39)
}

.buttons > .compliance.disabled.positive {
  background-color: rgb(52, 145, 31)
}

.buttons {
  padding: 5px 14px;
}

.vertical-align {
  padding: 2% 14px
}


.ui.form .field>label {
  text-align: left;
}

.ui.checkbox.add-all+label {
  text-align: left;
}

td.static.col-2  th.static.col-2{ 
  border-right: 6px solid red;
}

.table-wrap {
  width: 100%;
  overflow: auto;
}

.table-scroll {
  position:relative;
	max-width:90vw;
	margin:auto;
	overflow:hidden;
}

.table-scroll .main-table {
	width:100%;
	border-collapse:separate;
  border-spacing:0;
  overflow: scroll;
  margin: auto;
  
}

td.static.col-1.no-bottom-border {
  border-bottom: none;
}

td.static.col-1.invisible {
  color: transparent;
  background: white;
  border-top: none;
}

.ui.table.clone {
  background: transparent;
}
.ui.table.clone thead tr th {
  background: lightgray;
}
.ui.table.clone tbody tr td {
  background: white;
}

.clone {
	position:absolute;
	top:0;
	left:0;
  pointer-events:none;
  border: none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
.clone tbody th {
	visibility:visible;
}
.clone .static {
	visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}

.am-grid {
  background-color: paleturquoise;
}
.pm-grid {
  background-color: navy;
}

@media (max-width: 480px) {
  .buttons.mobile {
      display: auto;
      padding: 5px;
  }
  .buttons.desktop {
      display: none;
  }
}

@media (min-width: 481px) {
  .buttons.mobile {
    display: none;
  }
  .buttons.desktop {
    display: auto;
  }
}
