.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .side-effects {
  text-align: left
}

.button.compliance {
  background-color: orange;
}

.button.compliance.disabled {
  background-color: rgb(196, 99, 39)
}

.buttons > .compliance.disabled.positive {
  background-color: rgb(52, 145, 31)
}

.buttons {
  padding: 5px 14px
}

.vertical-align {
  padding: 2% 14px
}

/* .ui.celled.structured.table {
  display: block;
  overflow-x: scroll;
  overflow-y: visible;
  
} */

/* div.scroll-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 0;
  margin-left: 5em;
}

div > .static-col {
  position: fixed;
  width: 10em;
  left: 0;
}

div > .static-col-2 {
  position: fixed;
  width: 5em;
  left: 10em;
}

.headcol:before {
  content: 'Row ';
} */

.ui.form .field>label {
  text-align: left;
}

.ui.checkbox.add-all+label {
  text-align: left;
}